.CartList {
  display: flex;
  align-items: center;
}

.CartList .CartItem img {
  width: 100%;
}

.CartItem {
  max-width: 200px;
  padding: 8px 9px;
}
.CartItem .link {
  color: black;
  text-decoration: none;
}
.CartItem input {
  padding: 10px;
}