.Layout {
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  max-width: 1500px;
  margin: 0 auto;
}
header {
  display: flex;
  background-color: rgb(129, 227, 231);
  height: 10vh;
  position: relative;
  padding: 15px;
}
.Nav ul li a {
  display: block;
  padding: 5px;
  margin-left: 90px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.Nav ul li a:hover {
  background-color: rgb(94, 219, 245);
  border-color: #000;
  box-shadow: 0 0 200px 5px;
}
.Layout header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside {
  display: flex;
  font-size: 20px;
}
.Layout aside {
  background-image: url(https://e0.pxfuel.com/wallpapers/465/108/desktop-wallpaper-ombre-sky-%D0%98%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BD%D0%B5%D0%B1%D0%B0-%D0%9F%D0%B5%D0%B9%D0%B7%D0%B0%D0%B6%D0%B8-%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B5-%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F-cute-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  display: flex;
  background-color: rgb(234, 242, 237);
  color: rgb(78, 81, 75);
}
.Layout main {
  flex: 50% 1 1;
  padding: 100px;
  background-image: url(https://img.freepik.com/premium-vector/background-images-free-download-on-freepik_689361-61.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.About-u img {
text-align: center;  height: 40vh;
}

footer {
  font-size: 20px;
}
.Layout footer {
  grid-area: footer;
  background-color: #2699c7;
}
.Footer_link h3 {
  margin-top: 0px;
  text-align: center;
}
.Footer_link h5 {
  text-align: center;
}
.Footer_link p {
  text-align: center;
}
.network-icons {
  display: flex;
  justify-content: space-evenly;
}
.network-icons .bi {
  background-color: white;
  width: 30px;
  height: 30px;
}
.network-icons:hover {
  background-color: rgb(94, 219, 245);
  border-color: #000;
  box-shadow: 0 0 200px 5px;
}

.Layout .logo {
  max-width: 100px;
}
@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
}
