@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.Row {
  /* строка */
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  padding: 0 10px;
}

.Col-1 {
  flex: 8.3% 0 0;
}

.Col-2 {
  flex: 16.6% 0 0;
}

.Col-3 {
  flex: 25% 0 0;
}

.Col-4 {
  flex: 33.3% 0 0;
}

.Col-5 {
  flex: 41.6% 0 0;
}

.Col-6 {
  flex: 50% 1 1;
  flex-wrap: wrap;
}

.Col-7 {
  flex: 58.3% 0 0;
}

.Col-8 {
  flex: 66.6% 0 0;
}

.Col-9 {
  flex: 75% 0 0;
}

.Col-10 {
  flex: 83% 0 0;
}

.Col-11 {
  flex: 91.6% 0 0;
}

.Col-12 {
  flex: 100% 0 0;
}
.Home h1 {
  color: blue;
}
.Home p {
  font-size: 18px;
  line-height: 1.3;
}
.Home .home-tit {
  font-size: 22px;
  font-weight: 700;
}
.Home video {
  width: 100%;
  margin: 0 auto;
  height: auto;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.Home-about:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 10px 1px rgb(45, 29, 224);
}

button {
  color: rgb(64, 21, 221);
  background-color: rgb(127, 196, 220);
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgb(106, 80, 80);
}

button:hover {
  background-color: rgb(157, 139, 139);
  color: rgb(60, 18, 3);
}
.title-anim {
  animation: title-anim 2s linear infinite alternate;
  font-size: 50px;
  padding: 40px;
  max-width: 375px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
}
@keyframes title-anim {
  0% {
    transform: scale(1);
    background-color: rgb(129, 199, 224);
  }

  100% {
    transform: scale(1.05);
    background-color: white;
  }
}

@media screen and (max-width: 500px) {
  .Home p {
    color: rgb(226, 43, 43);
    font-size: 10px;
  }
}
.input {
  padding: 15px;
}

.mainBox {
  width: calc(100% - 200px);
}
.CategoryList a {
  line-height: 1.2;
}
.Auth span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 20px;
}
button {
  cursor: pointer;
}
.Auth button {
  border: none;
  background: #fff;
  padding: 3px 10px;
  border-radius: 8px;
  color: #030303;
  font-weight: 500;
}
.CartItem {
  margin-bottom: 30px;
}
.CartList {
  flex-wrap: wrap;
}
.CartList .CartItem img {
  margin-bottom: 10px;
}
.CartItem .link {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.OrderForm button,
.CartItem button {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  padding: 8px 10px;
  color: #030303;
}
.CartItem span {
  display: block;
  margin-bottom: 15px;
}
.CartItem input {
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  width: 80px;
}
.OrderForm label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 250px;
}
.OrderForm input {
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #000;
  margin-top: 5px;
  line-height: 35px;
}
.OrderForm button {
  width: 250px;
  padding: 0;
  line-height: 35px;
}
.Cart{
  padding-top: 15px;
}