@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.Row {
  /* строка */
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  padding: 0 10px;
}

.Col-1 {
  flex: 8.3% 0 0;
}

.Col-2 {
  flex: 16.6% 0 0;
}

.Col-3 {
  flex: 25% 0 0;
}

.Col-4 {
  flex: 33.3% 0 0;
}

.Col-5 {
  flex: 41.6% 0 0;
}

.Col-6 {
  flex: 50% 1 1;
  flex-wrap: wrap;
}

.Col-7 {
  flex: 58.3% 0 0;
}

.Col-8 {
  flex: 66.6% 0 0;
}

.Col-9 {
  flex: 75% 0 0;
}

.Col-10 {
  flex: 83% 0 0;
}

.Col-11 {
  flex: 91.6% 0 0;
}

.Col-12 {
  flex: 100% 0 0;
}
.Home {
  margin-left: 250px;
}

.Home h1 {
  color: blue;
  margin-left: 150px;
}
.Home p {
  color: blueviolet;
}
.Home video {
  width: 800px;
  height: 400px;
  background-size: 250px 450px;
}

.Home-about:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 10px 1px rgb(45, 29, 224);
}

button {
  color: rgb(64, 21, 221);
  background-color: rgb(127, 196, 220);
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgb(106, 80, 80);
}

button:hover {
  background-color: rgb(157, 139, 139);
  color: rgb(60, 18, 3);
}
.title-anim {
  animation: title-anim 2s linear infinite alternate;
  font-size: 50px;
  padding: 40px;
  width: 375px;
  border-radius: 15px;
}
@keyframes title-anim {
  0% {
    transform: scale(1);
    background-color: rgb(129, 199, 224);
  }

  100% {
    transform: scale(1.13);
    background-color: white;
  }
}


@media screen and (max-width:500px) {
  
  .Home p {
    color: rgb(226, 43, 43);
    font-size: 10px;
  }
  .Home video {
    width: 500px;
    height: 200px;
    background-size: 250px 450px;
  }
}
.input {
  padding: 15px;
}